

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 /*importação de fontes através do goolge fonts */


 :root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd ;
    --cor-terciaria2: #0000FF;
    --cor-hover: #272727;


    --font-primaria:  "Krona One", sans-serif;
    --font-secundaria:  "Montserrat", sans-serif;

}
 

*{  

   margin: 0px; 

   padding: 0px; 
}






body{
    /*corpo do da pagina */


    
   
     box-sizing: border-box;/*Ao definir box-sizing: border-box;, a largura e a altura que você especifica para um elemento se referem ao tamanho total do elemento, incluindo padding e border.*/
    background-color: var(--cor-primaria);
    color: #f6f6f6;
    
  
}



.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    
}



.cabecalho__menu__link{
                font-family: var(--font-secundaria) ;
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--cor-terciaria) ;
                text-decoration: none;

        }




.apresentacao{
    /*Conteudo main*/

    padding: 5% 15%;
    display: flex; /*deixa o contêiner flex*/
    align-items:center ; /*alinhar itens. */
    justify-content: space-between;
   
}

.apresentacao__conteudo{
    /*conteúdo section */


    width:  615px; 
    height: 355px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    /*h1 dentro das section */
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto{
    /*parágrafo dentro da section*/
    
    font-size: 1.5rem;
    font-family:  var(--font-secundaria);
    
} 

.apresentacao__links{
    /*div dentro da section para links ancora */

    display: flex; /*deixa os elementos flexíveis. */
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /*separação entre elementos.*/
    gap: 32px;
   
   
}



.apresentacao__links__subtitulo{
font-family: var(--font-primaria);
font-weight: 400;
font-size: 1.5rem;

    }

.apresentacao__links__link{
    /*estiliazção dos links */

  
    
    display: flex;
    justify-content: center;
    gap: 16px;
   
   
    
    color: var(--cor-secundaria); /*cor do texto*/
    width: 378px; 
    height: 68px; 
    text-align: center; 
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px; 
    font-family: var(--font-secundaria) ;
    font-size: 1.5rem; 
    font-weight: 600; /*Peso da fonte. */
    padding:21.5px 0 ; 
   
  
   
}

.apresentacao__links__link:hover{
   background-color: #272727;
   border: 2px solid #0000FF ;
   
   
   padding: 3%;
   
}













